<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="Content/styleLogin.css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <section>
                <img src="Stock/Stock-3.jpg" class="panel" />
            </section>
              @*<div class="sec2">
                <div class="container">
                    <div class="social">
                        <asp:Image ID="Image1" runat="server" ImageUrl="~/Stock/girl.png" />
                    </div>
                    <div class="content">
                        <h1>Sign Up</h1>
                        <asp:TextBox ID="TextBox1" placeholder="username" runat="server"></asp:TextBox><br />
                        <asp:TextBox ID="TextBox2" placeholder="password" runat="server"></asp:TextBox><br />
                        <asp:Button ID="Submit" runat="server" Text="Submit" />
                    </div>

                </div>
            </div>*@

        </div>
    </form>
</body>
</html>
